
/* Début du code css de la page terminal */

html,body{margin:0;height:100%;}

.terminal ::selection{background:#0080ff;text-shadow:none !important;}

.terminal{min-height:100%;position:relative;width:100%;}

.terminal .header{padding:1em 1.5em 1em 1em;position:relative;text-shadow:0 0 2px #C8C8C8;}

.terminal .container{padding:1em 1.5em 1em 1em;position:relative}
.terminal .container output{clear:both;width:100%;}
.terminal .container output pre{margin:0;}

.terminal .cmdline{background-color:transparent;border:none;color:inherit;font:inherit;margin:0;outline:none;width:100%;}

.terminal .hidden{display:none;}

.terminal a.external{text-decoration:none;font-family: 'Rubik', sans-serif;font-size: 90%;}
.terminal a.external:hover{text-decoration:underline;color: #0080ff;}

.terminal output table.input-line td:last-child{padding-left:1px;}

.terminal .prompt{line-height:20px;margin-right:7px;white-space:nowrap;}

.terminal table.input-line{border-collapse:collapse;border-spacing:0;margin:0;padding:0;width:100%;}
.terminal table.input-line td{margin:0;padding:0;vertical-align:top;}
.terminal table.help{border-collapse:collapse;border-spacing:0;margin:0;padding:0;width:100%;}
.terminal table.help td{margin:0;padding:10px 20px 10px 0;vertical-align:top;}

.terminal .directory{font-weight:bold;}

/* Pour le mode interlaced */
.terminal-interlaced{color:white;font-family: 'Inconsolata', monospace;}
.terminal-interlaced a{color:#fff;font-family: 'Rubik', sans-serif;font-size: 90%;}
.terminal-interlaced a.external{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9QTFRFzs7OqKio0NDQ////////DlgqrAAAAAV0Uk5T/////wD7tg5TAAAAN0lEQVR42izLyQ0AMAgDQYPpv+b4yD7QEBGcYoI0yN454Sqy9KnfTUufQpB7c/9AM1RlE58AAwBEcAE4zo3mOAAAAABJRU5ErkJggg==") no-repeat scroll right center transparent;padding-right:13px;outline:none;}
.terminal-interlaced .background{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAMAAACuX0YVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAADklEQVR42mJgYGAECDAAAAUAAoeC334AAAAASUVORK5CYII=") top left repeat,rgba(0, 0, 0, 0.9);height:100%;left:0;pointer-events:none;position:absolute;top:0;width:100%;}
.terminal-interlaced .background .interlace{background:dataurl("interlace.png") top left repeat,transparent;height:100%;left:0;opacity:0.15;pointer-events:none;position:absolute;top:0;width:100%;z-index:10;}
.terminal-interlaced .container output pre{color:white;}
.terminal-interlaced .prompt{color:white;}
.terminal-interlaced .directory{color:rgb(148,148,196);font-family: 'Oswald', sans-serif;font-size: 115%;}
.terminal-interlaced .file{color:white;font-family: 'Rubik', sans-serif;font-size: 90%;}
.terminal-interlaced .user{color:#3c74c9;font-family: 'Oswald', sans-serif;font-size: 115%;}
.terminal-interlaced .hostname{color:#d83e3e;font-family: 'Oswald', sans-serif;font-size: 115%;}

/* Pour le mode moderne */
.terminal-modern{color:white;font-family:Inconsolata, monospace;}
.terminal-modern a{color:#fff;font-family: 'Rubik', sans-serif;font-size: 90%;}
.terminal-modern a.external{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9QTFRFzs7OqKio0NDQ////////DlgqrAAAAAV0Uk5T/////wD7tg5TAAAAN0lEQVR42izLyQ0AMAgDQYPpv+b4yD7QEBGcYoI0yN454Sqy9KnfTUufQpB7c/9AM1RlE58AAwBEcAE4zo3mOAAAAABJRU5ErkJggg==") no-repeat scroll right center transparent;padding-right:13px;outline:none;}
.terminal-modern .background{background:#000;height:100%;left:0;pointer-events:none;position:absolute;top:0;width:100%;}
.terminal-modern .background .interlace{display:none;}
.terminal-modern .container{text-shadow:none;}
.terminal-modern .container output pre{color:white;}
.terminal-modern .prompt{color:white;}
.terminal-modern .directory{color:rgb(148,148,196);font-family: 'Oswald', sans-serif;font-size: 115%;}
.terminal-modern .file{color:white;font-family: 'Rubik', sans-serif;font-size: 90%;}
.terminal-modern .user{color:#3c74c9;font-family: 'Oswald', sans-serif;font-size: 115%;}
.terminal-modern .hostname{color:#d83e3e;font-family: 'Oswald', sans-serif;font-size: 115%;}

/* Pour le mode blanc */
.terminal-white{color:black;font-family:Inconsolata, monospace;}
.terminal-white a{color:#000;font-family: 'Rubik', sans-serif;font-size: 90%;}
.terminal-white a.external{background:dataurl("external.png") no-repeat scroll right center transparent;padding-right:13px;outline:none;}
.terminal-white .background{background:#fff;height:100%;left:0;pointer-events:none;position:absolute;top:0;width:100%;}
.terminal-white .background .interlace{display:none;}
.terminal-white .container{text-shadow:none;}
.terminal-white .container output pre{color:black;}
.terminal-white .prompt{color:black;}
.terminal-white .directory{color:rgb(27,54,134);font-family: 'Oswald', sans-serif;font-size: 115%;}
.terminal-white .file{color:black;font-family: 'Rubik', sans-serif;font-size: 90%;}
.terminal-white .user{color:#3c74c9;font-family: 'Oswald', sans-serif;font-size: 115%;}
.terminal-white .hostname{color:#d83e3e;font-family: 'Oswald', sans-serif;font-size: 115%;}

/* Polices */
.terminal .font{font-family: 'Karla', sans-serif;font-size: 110%;}
.terminal .font-version{font-family: 'Karla', sans-serif;font-size: 110%;font-style: italic;}

.terminal {font-size:4vw}

.logotext {display:none;}
.logotext {display:block;}
.terminal {font-size:1vw;}

/* Boutons */
#simple {
    top: 20px;
    color: rgb(114, 180, 255);
    box-shadow: -5px -5px 10px rgb(114, 180, 255);
}
#hacking {
    top: 100px;
    color: rgb(255, 135, 135);
    box-shadow: -5px -5px 10px rgb(255, 135, 135);
}
#analyseur {
    top: 178px;
    color: rgb(230, 255, 118);
  box-shadow: -5px -5px 10px rgb(230, 255, 118);
}

#simple, #hacking, #analyseur {
    background-color: #888;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    font-family: 'Karla', sans-serif;
}

#simple:hover {
    box-shadow: 5px 5px 0px rgba(114, 180, 255,1);
}
#hacking:hover {
    box-shadow: 5px 5px 0px rgb(255, 135, 135);
}
#analyseur:hover {
    box-shadow: 5px 5px 0px rgb(230, 255, 118);
}

#simple.clicked, #hacking.clicked, #analyseur.clicked {
    box-shadow: none;
    transform: none;
    background-color: #6d6d6d
}

/* Fin du code css de la page terminal */
